.container {
  width: 1000px;
  margin: 30px auto;
  background: #eee;

  display: grid;

  /* Using min and max content */ 
  /* grid-template-columns: repeat(2, 150px); *//* grid-template-columns: max-content 1fr 1fr min-content; */


  /* Using minmax function */
  /* width: 90%; 
  grid-template-rows: repeat(2, minmax(150px, min-content)); 
  grid-template-columns: minmax(200px, 300px) repeat(3, 1fr);  */

  /* Using auto-fill and auto-fit 
  */
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  /* grid-template-columns: repeat(auto-fill, 100px); */
  grid-template-columns: repeat(auto-fit, 100px);
  width: 90%; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;

  
}

.item {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  background: orangered;
}

.item--1 {
  background: orangered;
}

.item--2 {
  background: yellowgreen;
}

.item--3 {
  background: blueviolet;
}

.item--4 {
  background: palevioletred;
}

.item--5 {
  background: royalblue;
}

.item--6 {
  background: goldenrod;
}

.item--7 {
  background: crimson;
}

.item--8 {
  background: darksalmon;
}
